* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
  --height: 46px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 104px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  border-radius: 999px;
  background: #2e80ce;
}

.btn-small {
  width: 108px;
  height: 46px;
  line-height: 46px;
}

.btn-large {
  width: 205px;
  height: 60px;
  line-height: 60px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.line-clamp {
  display: -webkit-box; /* Đặt khung hiển thị cho dòng */
  -webkit-line-clamp: 3; /* Hiển thị tối đa 3 dòng */
  -webkit-box-orient: vertical; /* Định hướng các dòng theo chiều dọc */
  overflow: hidden; /* Ẩn phần vượt quá khung */
}

/* Header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
  padding-top: 30px;
}

.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  text-align: right;
  margin-left: 0.6em;
  line-height: 1.6fem;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header-top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar__list {
  display: flex;
  gap: 42px;
}

.navbar__link,
.header-action__btn {
  padding: 4px 0px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link--active,
.navbar__link:hover {
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  left: -11px;
  top: -2px;
}

/* Action */

.header-action {
  display: flex;
  align-items: center;
  gap: 28px;
}

.btn.header-action__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  width: 104px;
  height: 44px;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 76px;
}

/* Hero content */
.hero__content {
  width: 44%;
  flex-shrink: 0;
}

.hero__heading--lv1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.hero__contact {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__contact--phone {
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
  width: 330px;
  height: 540px;
  border-radius: 6px;
  z-index: 1;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  margin-right: 6px;
}

/* Our Serivces */
.service {
  padding: 170px 0;
}

.service__header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
}

.service-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  width: 470px;
  padding: 22px;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.service-item__icon {
  transition: all 0.3s ease;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.1);
  .service-item__icon-wrap {
    background: #2e80ce;
  }
  .service-item__icon {
    color: #fff;
  }
}

.service-item__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 20px;
  background: #eff6fd;
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.service__list {
  margin-bottom: 55px;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

/* Work */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work-desc {
  width: 468px;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 70px;
}

.work-item {
  width: 370px;
  background: #fff;
  border: 16px solid #eaf6ff;
  padding: 42px;
  border-radius: 4px;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: #2e80ce;
}

.work-item__heading {
  margin: 18px 0 28px 0;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work-item__desc {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 18px;
}

/* Feature */
.feature__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 170px 0;
}

.feature__image {
  position: relative;
  width: 570px;
  height: 491px;
}

.feature__img:first-child {
  width: 512px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.feature__img:last-child {
  position: absolute;
  top: 121px;
  right: -58px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature__content {
  /* margin-top: 100px; */
  width: 470px;
}

.feature__action {
  margin-top: 38px;
}

/* Member */
.member-content {
  text-align: center;
}

.member__action {
  margin-top: 38px;
}

.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 70px;
  text-align: center;
}

.member-item__img-bg {
  padding-top: 28px;
  background: #eaf6ff;
  border-radius: 6px;
  transition: 0.25s;
  overflow: hidden;
}

.member-item__img-bg:hover {
  .member-item__thumb {
    transform: scale(1.1);
  }
}

.member-item__thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
}

.member-item__name {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.member-item__title {
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.85;
}

.member__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}
.control {
  display: flex;
  column-gap: 18px;
}

.control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  outline: none;
  color: #575f66;
  background: #fff;
  transition: 0.25s;
  cursor: pointer;
}

.control-btn--left {
  transform: rotate(-90deg);
}

.control-btn--right {
  transform: rotate(90deg);
}

.control-btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  .member__control-icon {
    fill: #fff;
  }
}

/* Install */
.install {
  margin: 265px 0 170px;
}

.install__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  border-radius: 4px;
  background: #2e80ce;
}

.install__img {
  display: block;
  margin-top: -95px;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install-heading,
.install-desc {
  color: #fff;
}

.install-heading {
  max-width: 489px;
}

.install-desc {
  max-width: 586px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.install__row {
  display: flex;
  gap: 28px;
  margin-top: 38px;
}

/* News */
.news {
  margin-bottom: 170px;
}

.news__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 130px;
}

.news_content {
  width: 470px;
  flex-shrink: 0;
}

.news__link {
  display: inline-block;
  margin: 28px 0;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.news__list {
  width: calc(100% - 470px);
  display: flex;
  column-gap: 30px;
}

.news-item {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
  overflow: hidden;
}

.news-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item__image {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  transition: 0.25;
}
.news-item:hover .news-item__image {
  transform: scale(1.1);
}

.news-item__body {
  padding: 18px 22px 22px 22px;
}

.news-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.news-item__desc {
  margin: 10px 0 12px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
}

.news-item__link {
  color: #2e80ce;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.news-item__link:hover {
  color: #10375c;
}

/* Appointment */

.appointment {
  margin-bottom: 170px;
}

.appointment-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 452px;
  background: #f6fbff;
}

.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  margin: 18px auto 0;
  background: #2e80ce;
}

.appointment__desc {
  max-width: 617px;
  margin: 20px 0 38px;
}

.footer {
  padding: 100px 0 42px;
  background: #10375c;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer-social {
  display: flex;
  column-gap: 6px;
  margin-bottom: 28px;
}

.footer-social__icon {
  width: 12px;
  height: 12px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.25;
}

.footer-social__link:hover {
  background: #2e80ce;
}

.footer__desc {
  width: 336px;
  margin-top: 22px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer__heading {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer-form {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 10px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  padding: 0px 10px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer-form__submit {
  border-radius: 4px;
  background: #2e80ce;
}

.footer-form__submit {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.86;
  border: none;
}

.footer-inner::after {
  content: "";
  display: block;
  width: 1170px;
  height: 1px;
  background: #406181;
}

.footer-nocopyright {
  margin-top: 28px;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
